*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto,  sans-serif;
}

body{
  background-color: #eeeeee;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1{
  margin: 2rem;
}

.note-input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note-input input{
  width:700px;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:0.5rem;
}

.note-input textarea{
  width:700px;
  height: 80px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  
}

.note-input textarea, .note-input input::placeholder{
  font-size: 16px;
  padding: 0.4rem;
  
}


.search-container {
  display: flex;
  align-items: center;  
  width: 700px;         
  margin: 0 auto;       
}


.search-input {
  flex-grow: 1;             
  padding: 8px 12px;       
  font-size: 16px;         
  border: 1px solid #ccc;  
  border-radius: 4px;      
  margin-right: 10px;     
  max-width: 600px;         
}


.search-container button {
  padding: 8px 12px;          
  background-color: #1f221f;  
  color: white;               
  border: none;              
  border-radius: 4px;         
  cursor: pointer;            
  font-size: 16px;           
}


.search-container button:hover {
  background-color: #2f352f;    
}



.note-input button{
  padding: 12px 30px;
  outline: none;
  border: none;
  color: white;
  background-color:#27a844;
  font-size: 15px;
  cursor: pointer;
  margin: 0.5rem 0;
  margin-right: 0.5rem;

}
.note-input button:hover{
  background-color:#23963c;
  transition: ease-in;
}
.container {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  flex-wrap: wrap;
}

.note-list{
  
  margin-top: 20px;
  width: 320px;
  height: 170px;
  padding: 1rem;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.note-list p{
  margin: 0.5rem 0;
  font-size: 15px;
}

.button {
  font-size: 15px; 
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  margin-top: 1rem;
  margin-right: 0.7rem ;
  color: white;
  border-radius: 2px;
  cursor: pointer;  
  
  
}

.edit-button
{
  background-color: rgb(58, 99, 235);
}

.cancel-button
{
  background-color: rgb(235, 12, 12);
}
.icon {
  font-size: 20px; 

}

.notes-count{
  margin: 20px 2px;
}



@media screen and (max-width:800px) {

  .App h1{
    margin-top: 6rem;
  }
  
  
  .note-input input, .note-input textarea{
    width:500px;
  }

  .note-input button{
    padding: 8px 20px;
  }

  .container {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .note-list{
   width: 500px;
  }

  .search-container{
    width: 500px;
  }

  
}

@media screen and (max-width:600px) {

  .App h1{
    margin-top: 6rem;
  }
  
  .note-input input, .note-input textarea{
    width:350px;
  }
  .note-input button{
    padding: 8px 20px;
  }

  .container {
    width: 350px;
  }

  .search-container{
    width: 350px;
  }
  
}